/* Tailwind v4 Import */
@import "tailwindcss";

/* Configuration Block */
@theme {
  /* Fonts */
  --font-sans: "Inter", sans-serif;

  /* Custom Colors - Saffron Palette */
  --color-saffron-50: #FFF7ED;
  --color-saffron-100: #FFEDD5;
  --color-saffron-500: #F97316;
  --color-saffron-600: #EA580C;
  --color-saffron-700: #C2410C;

  /* Custom Colors - Rose */
  --color-rose-800: #9f1239;

  /* Custom Shadows */
  --shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(249, 115, 22, 0.04);
}
 
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #ddd;
  }
}